.login {
    background-color: #fbfbfb;
    box-shadow: 1px 1px 10px #e8eaf6;
    font-family: 'Roboto';
    font-weight: 100;
}

section.section.form {
    margin-top: -25%;
}

div.input-field {
    margin-top: -5%;
}

.container {
    margin-top: 1%;
}

.color-block {
    background-color: #a6c4d1;
}

.subtitle {
    font-size: 93%;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #474747;
}

.sign-in-title {
    font-size: 100%;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #474747;
}

.sign-in-google {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 0.6px;
    color: #474747;
    margin-top: -5%;
}

.sign-in-options {
    margin-top: -5%;
}

body {
    background-color: #eeffff;
    font-family: 'Roboto', sans-serif;
}

i {
    color: #a6c4d1;
}

.description {
    font-family: 'Roboto';
    font-weight: 100;
    color: #eeffff;
    font-size: 90%;
}

h1 {
    font-family: 'Pacifico';
    color: #4B9ECF;
    text-shadow: 1px 1px 1px #fbfbfb;
    text-align: center;
    margin-bottom: -10px;
}

.comment-section {
    margin-top: -10px;
}

.material-icons {
    font-size: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

#hide-sign-up {
    border: none;
    background-color: #eeffff;
    font-size: 12px;
    letter-spacing: -0.4px;
    font-family: 'Roboto';
    font-weight: 100;
    margin-top: -8%;
}

.color-change {
    background-color: #4B9ECF;
    font-family: 'Roboto';
    font-weight: 100;
}

.nav-wrapper {
    background-color: #4B9ECF;
}

a.brand-logo {
    font-family: 'Pacifico';
    font-size: 55px;
    margin-top: -10px;
}

.user-comment {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 100%;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: rgb(169, 169, 169);
    text-align: left;
}

#commentArea {
    border-radius: 7px;
}

span.card-title.generated {
    font-size: 20px;
}

#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

.comment-date {
    font-family: 'Roboto';
    font-weight: 100;
    letter-spacing: -0.5px;
    font-size: 90%;
}

.created {
    margin-top: 2px;
}