.login {
    background-color: #fbfbfb;
    box-shadow: 1px 1px 10px #e8eaf6;
}
body {
    background-color: #eeffff;
}
i {
    color: #a6c4d1;
}
h1 {
    font-family: 'Pacifico';
    color: #8aacc8;
    text-shadow: 1px 1px 1px #fbfbfb;    
}
.color-change {
    background-color: #8aacc8;
    left: 37.5%;
}

