.login,
.sign-in {
    background-color: #fbfbfb;
    box-shadow: 1px 1px 10px #e8eaf6;
    font-family: 'Roboto';
    font-weight: 100;
}

#signIn {
    margin-top: -5%;
}

.container {
    margin-top: 15%;
}

.color-block {
    background-color: #a6c4d1;
}

.subtitle {
    font-size: 93%;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #474747;
}

.sign-in-title {
    font-size: 100%;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #474747;
}

.sign-in-google {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.6px;
    color: #474747;
}

body {
    background-color: #eeffff;
    font-family: 'Roboto', sans-serif;
}

i {
    color: #a6c4d1;
}

.description {
    font-family: 'Roboto';
    font-weight: 100;
    color: #eeffff;
    font-size: 90%;
}

h1 {
    font-family: 'Pacifico';
    color: #4B9ECF;
    text-shadow: 1px 1px 1px #fbfbfb;
    text-align: center;
    margin-bottom: -10px;
}

.comment-section {
    margin-top: -10px;
}

.material-icons {
    font-size: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

#hide-sign-up {
    border: none;
    background-color: #eeffff;
    font-size: 12px;
    letter-spacing: -0.4px;
    font-family: 'Roboto';
    font-weight: 100;
}

.color-change {
    background-color: #4B9ECF;
    left: 37.5%;
    font-family: 'Roboto';
    font-weight: 100;
}